@charset "UTF-8";
.theme-default .nivoSlider {
	position: relative;
	background-image: url(http://red237.redmedia.com.tw/ezcatfiles/red237/img/img/5187/loading.gif);
	background-repeat: no-repeat;
	background-position: 50% 50%;
}
.theme-default .nivoSlider img {
	position: absolute;
	top: 0px;
	left: 0px;
	display: none;
}
.theme-default .nivoSlider a {
	border: 0;
	display: block;
}
.theme-default .nivo-controlNav {
	position: absolute;
	bottom: 23px;
	z-index: 99;
	right: 16px;
	display: none;
}
.theme-default .nivo-controlNav a {
	width: 14px;
	height: 15px;
	background-repeat: no-repeat;
	display: block;
	float: left;
	text-indent: -999999px;
	margin-right: 5px;
}
.theme-default .nivo-controlNav a.active {
	background-repeat: no-repeat;
}
.theme-default a.nivo-nextNav {
	position: absolute;
	z-index: 2000;
	right: -57px;
	top: 120px;
	background-image: url(../images/next.png);
	background-repeat: no-repeat;
	background-position: left top;
	text-align: left;
	text-indent: -9999px;
	display: block;
	height: 134px;
	width: 115px;
	overflow: hidden;
	cursor: pointer;
}
.theme-default a.nivo-prevNav {
	position: absolute;
	z-index: 2000;
	left: -45px;
	top: 121px;
	background-image: url(../images/prev.png);
	background-repeat: no-repeat;
	background-position: left top;
	text-align: left;
	text-indent: -9999px;
	display: block;
	height: 134px;
	width: 115px;
	overflow: hidden;
	cursor: pointer;
}
.theme-default .nivo-caption {
	font-family: Helvetica, Arial, sans-serif;
}
.theme-default .nivo-caption a {
	color: #fff;
	border-bottom: 1px dotted #fff;
}
.theme-default .nivo-caption a:hover {
	color: #fff;
}
.nivoSlider {
	position: relative;
}
.nivoSlider img {
	position: absolute;
	top: 0px;
	left: 0px;
}
/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	border: 0;
	padding: 0;
	margin: 0;
	z-index: 6;
	display: none;
}
/* The slices and boxes in the Slider */
.nivo-slice {
	display: block;
	position: absolute;
	z-index: 0;
	height: 100%;
}
.nivo-box {
	display: block;
	position: absolute;
	z-index: 5;
}
/* Caption styles */
.nivo-caption {
	position: absolute;
	left: 0px;
	bottom: 0px;
	background: #000;
	color: #fff;
	filter: Alpha(Opacity=80);
	width: 100%;
	z-index: 8;
}
.nivo-caption p {
	padding: 5px;
	margin: 0;
}
.nivo-caption a {
	display: inline !important;
}
.nivo-html-caption {
	display: none;
}
/* Control nav styles (e.g. 1,2,3...) */
.nivo-controlNav a {
	position: relative;
	z-index: 9;
	cursor: pointer;
}
.nivo-controlNav a.active {
	font-weight: bold;
}
.theme-default {
	width: 926px;
	height: 370px;
	position: relative;
	z-index: 0;
	margin-bottom: 15px;
	margin-right: auto;
	margin-left: auto;
}
.theme-default #slider {
	width: 926px; /* Make sure your images are the same size */
	height: 370px;
	background-color: #FFF;
}
